<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name_id</key>
		<string>昵称ID昵称</string>
		<key>head_icon</key>
		<string>nil</string>
		<key>time_come</key>
		<string>1小时前 · 来自股票涨涨涨</string>
		<key>article_text</key>
		<string>如何正确的确定价值观和消费观：把简单的事情重复做，成功来的时候，挡都挡不住，把理财当成一种习惯。任何情况下，能不动用积蓄，就不动用积蓄，哈哈哈哈</string>
		<key>picture_number</key>
		<string>0</string>
		<key>zan_number</key>
		<string>234</string>
		<key>comment_number</key>
		<string>23</string>
	</dict>
	<dict>
		<key>name_id</key>
		<string>小李飞刀</string>
		<key>head_icon</key>
		<string>nil</string>
		<key>time_come</key>
		<string>18小时前 · 来自股票涨涨涨</string>
		<key>article_text</key>
		<string>如何正确的确定价值观和消费观：把简单的事情重复做，成功来的时候，挡都挡不住，把理财当成一种习惯。任何情况下，能不动用积蓄，就不动用积蓄，哈哈哈哈</string>
		<key>picture_number</key>
		<string>1</string>
		<key>zan_number</key>
		<string>234</string>
		<key>comment_number</key>
		<string>23</string>
	</dict>
	<dict>
		<key>name_id</key>
		<string>哈哈哈哈</string>
		<key>head_icon</key>
		<string>nil</string>
		<key>time_come</key>
		<string>1小时前 · 来自股票涨涨涨</string>
		<key>article_text</key>
		<string>如何正确的确定价值观和消费观：把简单的事情重复做，成功来的时候，挡都挡不住，把理财当成一种习惯。任何情况下，能不动用积蓄，就不动用积蓄，哈哈哈哈</string>
		<key>picture_number</key>
		<string>4</string>
		<key>zan_number</key>
		<string>234</string>
		<key>comment_number</key>
		<string>23</string>
	</dict>
	<dict>
		<key>name_id</key>
		<string>嚯嚯嚯</string>
		<key>head_icon</key>
		<string>nil</string>
		<key>time_come</key>
		<string>1小时前 · 来自股票涨涨涨</string>
		<key>article_text</key>
		<string>如何正确的确定价值观和消费观：把简单的事情重复做，成功来的时候，挡都挡不住，把理财当成一种习惯。任何情况下，能不动用积蓄，就不动用积蓄，哈哈哈哈</string>
		<key>picture_number</key>
		<string>8</string>
		<key>zan_number</key>
		<string>234</string>
		<key>comment_number</key>
		<string>23</string>
	</dict>
</array>
</plist>
